@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
*{
  font-family: "Happy Monkey", system-ui;
  font-weight: 400;
  font-style: normal;
}
@import "tailwindcss";
@theme {
  --color-primary: oklch(0.3319 0.7176 271.48); /* purple-600 */
  --color-primary-dark: oklch(0.2587 0.6745 272.09); /* purple-700 */
}
